<?xml version="1.0" encoding="utf-8"?>
<Project>
  <PropertyGroup>
    <Configuration>Release</Configuration>
    <Platform>ARM64</Platform>
    <RuntimeIdentifier>win-arm64</RuntimeIdentifier>
    <SelfContained>true</SelfContained>
    <WindowsAppSDKSelfContained>true</WindowsAppSDKSelfContained>
    <PublishTrimmed>false</PublishTrimmed>
    <TrimMode>None</TrimMode>
    <PublishReadyToRun>false</PublishReadyToRun>
    <PublishAot>false</PublishAot>
    <DebugType>none</DebugType>
    <DebugSymbols>false</DebugSymbols>
    <PublishSingleFile>false</PublishSingleFile>
    <IncludeNativeLibrariesForSelfExtract>false</IncludeNativeLibrariesForSelfExtract>
    <PublishDir>$(MSBuildThisFileDirectory)..\..\..\..\artifacts\publish\win-arm64\</PublishDir>
  </PropertyGroup>
</Project>
